%h3
  = @query
%h1= "Sin resultados" if !@several.present? && @prices.empty? 
= render 'search'
.clear
- if @several.present?
  %table.results
    %tr
      %th Card
      %th Expansion
      %th Rarity
      %th
    - @versions.each do |version|
      -if !version.empty? #De este scrapeo viene uno vacio siempre!
        %tr
          %td= version["card"]
          %td= version["expansion"]
          %td= version["rarity"]
          %td= link_to "Ver precios",cards_path(:url => version["link"])
  .clear
-else
  -if !@several.present? && !@prices.empty?
    %table.results
      %tr
        %th Seller
        %th Condition
        %th Language
        %th Foil?
        %th Price
      - @prices.each do |price|
        %tr
          %td= price["seller"]
          %td= price["condition"]
          %td= price["lang"]
          %td= price["foil"].present? ? "Yes" : "No"
          %td= price["price"]
  .img_container
    = image_tag @img
    = link_to "Precio Medio", average_card_path(:id=> @query.gsub(/\((.*?)\)/,''))
  .clear